body {
	background-color: #505050;
}

.main {
	/*background: linear-gradient(90deg, #fafafa 21px, transparent 1%) center, linear-gradient(#fafafa 21px, transparent 1%) center, #a799cc;*/
	background: #fafafa;
	background-size: 22px 22px;
	margin-top: 20px;
	width: 89.5%;
	width: 71%;
	border: solid 2px #222222;
	border: solid 0px #000000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.column {
	float: left;
	width: 48%;
	margin-right: 10px;
	margin-left: 10px;
}


/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

.photo {
	margin-top: 2em;
	margin-left: 9px;
	margin-right: 13px;
	margin-bottom: 1em;
	border: solid 1px #222222;
	line-height: 0px;
}

#photo-right {
	float: right;
	margin-left: 14px;
	margin-right: 8px;
}

#photo-left {
	float: left;
	margin-right: 14px;
	margin-left: 8px;
}

h1 {
	color: #012324;
	font-weight: 501;
}

p {
	text-align: justify;
	font-size: 20px;
	font-weight: 500;
}

a {

	color: #008a8a;/*#404040*/
	
}

/*a:hover {
	text-decoration: underline;
}

a:link {
	color: #007b7d;
}

a:visited {
	color: #34b1eb;
	color: #a3004c;
}
*/
a:hover {
	color: #006960;
}
/*
a:active {
	color: blue;
}*/

.title {
	font-weight: bold;
	text-decoration: none;
}

.validation {
	font-size: 100%;
	text-align: right;
	font-style: italic;
	margin-top: -30px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.prerequisite-section p{
         font-size: 16px;
         font-weight: 400;
         color: #757575;
	 text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         max-width: 310px;
      }

.color-changing {
font-size:17px;
font-weight: 500;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: #000000; }
  10% { color: #212121; }
  20% { color: #292929; }
  30% { color: #363636; }
  40% { color: #404040; }
  50% { color: #4d4d4d; }
  60% { color: #4a4a4a; }
  70% { color: #525252; }
  80% { color: #5e5e5e; }
  90% { color: #6b6b6b; }
  100% { color: #707070; }
}

.readme-section {
	font-size:16px;
	font-weight: 500;
	animation: flow 30s ease-in-out infinite;
	background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752); 
	background-size: 300%;
	-webkit-background-clip: text;
		background-clip: text; 
	-webkit-text-fill-color: transparent; 
}

@keyframes flow {
0% { background-position: 0 50%;}
50% { background-position: 100% 50%;}
100% { background-position: 0 50%;}
}

.video-container{
  width:100vw;
  height:100vh;
  overflow:hidden;
  position:relative;
}
.video-container iframe,{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  /*height: 100%;*/
}
.video-container iframe, {
  pointer-events: none;
}
.video-container iframe{
  position: absolute;
  top: -60px;
  left: 0;
  width: 50%;
  height: calc(50% + 60px);
}
.video-foreground{
  pointer-events:none;
}





